#select-class {
    text-align: center;
    margin-top: 0px;
    padding-top: 0px;
    width: 100%;
}
.ui-controlgroup-controls {
    width: 100%;
    max-width: 100%;
}
.ui-controlgroup-horizontal .ui-controlgroup-controls .ui-select, .ui-controlgroup-controls .ui-btn-icon-notext {
    width: 50%;
}
#timetable {
    text-align: center;
}